.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f4f4f4;
  padding: 20px;
}

.construction-image {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.construction-title {
  font-size: 36px;
  color: #495e57;
  margin-bottom: 10px;
}

.construction-description {
  font-size: 18px;
  color: #495e57;
}